@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,600,700|Roboto:300,400,700,900');
html{

  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(-45deg, #069EEB 0%, #82BC79 50%, #FDDA53 100%); */
}

header {
  font-family: 'Montserrat', sans-serif;
  color:grey;
  margin-left: 5%;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}
.container{
  max-width: 2000px;
  display: flex;

  justify-content:flex-start;


}
.cajaORANGE {
display: flex;
flex-direction: column;
}
.item{
  width: 120px;
  height: 120px;
  background-color: green;
  margin: 30px;
  padding: 30px;
  background-size: cover;
}
.cajapeq{
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.ORANGE{
background-image: url(./img/ORANGE.png);
background-position: center;
}
.PURPLE{
  background-image: url(./img/PURPLE.png);
  background-position: center;
  }

.BLUE{
  background-image: url(./img/BLUE.png);
  background-position: center;
}
.PINK{
  background-image: url(./img/PINK.png);
  background-position: center;
}
@media (max-width: 400px) {


  .item{
    flex: 0 1 100%;
    height: 50vh

  }
}
